.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.ipynb_checkpoints/
__pycache__/
pipelines/__pycache__/

# data
qsar/*
!qsar/METAB_training_preprocessed.csv
!qsar/METAB_test_preprocessed.csv

qsar_npdr/*
!qsar_npdr/METAB_training_npdr.csv

subsets/
papers/
# check later