.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.ipynb_checkpoints/
__pycache__/
pipelines/__pycache__/

# data
code/qsar/*
!code/qsar/METAB_training_preprocessed.csv
!code/qsar/METAB_test_preprocessed.csv

code/qsar_npdr/*
!code/qsar_npdr/METAB_training_npdr.csv

subsets/
papers/
# check later

.vscode/